---
title: Lucia Escanellas
---

%section#hero.splash-container
  %img{src: image_path('avatar.jpg')}
  .splash.pure-g
    .pure-u-1.pure-u-md-1-2
    .pure-u-1.pure-u-md-1-2.text
      %h1
        Hi, I'm Lucia
        %strong Escanellas

      %p I'm a Software Engineer, crazy about software development, fan of tarsiers.
      %p
        Check out some #{link_to 'info', '#aboutme'} about me,
        some of my #{link_to 'interests', '#interests'}, and a few of my #{link_to 'skills', '#skills'}.
        Or you can jump to my #{link_to 'contact', '#contact'} info.

%section#aboutme.ribbon
  .pure-g
    .pure-u-1
      %h1 ~/about_me
    .pure-u-1.text
      %p
        My name is Lucia Escanellas, also known as raviolicode. I live in #{link_to 'Montevideo, Uruguay', '#'},
        working at Neo, and a member of #{link_to 'DATA', 'http://github.com/datauy'}.
      %p Engineer by profession, coder by choice, I believe in how doing "the right things the right way" can make a difference.
      %p I love solving problems in all their forms. Setting up servers, defining architectures, coaching teams in agile methodologies, coding a usable front-end.
      %p But above all, seeing a project's success is what really drives me.
      %p I have been fascinated by computers since I was 9, when there was only #{link_to "Xenix", "http://en.wikipedia.org/wiki/Xenix"} and DOS.
      %p Started out as a Linux Sysadmin, and then a computer networks teacher at the University.
      %p I also worked as a .NET Developer / Analyst. Then I discovered Ruby, and I have been working on Web Development ever since :)</p>

%section#interests
  .pure-g
    .pure-u-1
      %h1 ~/my_interests
    .pure-u-1.pure-u-md-1-2
      .interest
        .title
          %h2
            Open Data
            %br
              &Digital
              Goverment
        .content
          .info
            %p
              Member of
              %a(href="http://datauy.org") DATA
              since 2012, whose mission is to empower citizens through access of publicly available data.

    .pure-u-1.pure-u-md-1-2
      .interest.right
        .title
          %h2
            Teaching
            %br
              & Work
              shops
        .content
          .info
            %p I enjoy participating in workshops, such as:
            %ul
              %li
                %a(href="http://railsgirls.com/montevideo") Rails Girls Montevideo 2014
              %li
                %a(href="http://devchix.com.uy/tag/railsbridge/") RailsBridge Uruguay 2011

    .pure-u-1.pure-u-md-1-2
      .interest
        .title
          %h2
            Hackathons
            %br
              &amp;Open
              Source
        .content
          .info
            %p Because coding is fun <3
            %ul
              %li
                %a{:href => "https://github.com/seamusabshere/upsert"} Upsert gem contributions
              %li
                %a{:href => "http://www.agesic.gub.uy/innovaportal/v/1839/1/agesic/datos_abiertos:_culmino_desarrollando_america_latina.html"} Desarrollando Latinoamérica Hackathon
              %li
                %a{:href => "http://bellagio.hackdash.org"} CodeCamp 2014 - Hackathon in Italy

    .pure-u-1.pure-u-md-1-2
      .interest.right
        .title
          %h2
            Travels
            %br
              Creatures
              &Culture
        .content
          .info
            %p Traveling is my favorite hobby!
            %p 
              Visited so far:
              Argentina, 
              Belgium, 
              Brasil, 
              Croatia, 
              Czech Republic, 
              France, 
              Germany, 
              Holland, 
              Hugary, 
              Italy, 
              Spain, 
              Poland, 
              Paraguay, 
              Slovenia
              Russia (soon!),
              UK,
              USA.

%section#skills.ribbon
  .pure-g
    .pure-u-1
      %h1 ~/skills
    .pure-u-1.pure-u-md-2-3
      #skills-graph
    .pure-u-1.pure-u-md-1-3
      .skills-list
        %p
          %strong Backend:
          Ruby on Rails, Sinatra
        %p
          %strong Frontend:
          CSS 3, HTML 5, Angular
        %p
          %strong Languages:
          Ruby, JavaScript, Scala (learning)
        %p
          %strong Databases:
          PostgreSQL, MySQL, MongoDB
        %p
          %strong Methodologies:
          Lean Validation, Scrum, XP, TDD, Continuous Delivery
        %p
          %strong Dev Ops:
          Debian, Ubuntu, RedHat, CentOS, Ansible, Capistrano, Heroku, Amazon S3, EC2

%footer#contact
  .pure-g.is-center
    .pure-u-1-2.pure-u-md-1-6
      %a{:href => "http://github.com/raviolicode"}
        %i.fa.fa-github
    .pure-u-1-2.pure-u-md-1-6
      %a{:href => "http://stackoverflow.com/users/3324188/raviolicode"}
        %i.fa.fa-stack-exchange
    .pure-u-1-2.pure-u-md-1-6
      %a{:href => "https://uy.linkedin.com/in/escanellas"}
        %i.fa.fa-linkedin
    .pure-u-1-2.pure-u-md-1-6
      %a{:href => "https://www.twitter.com/raviolicode"}
        %i.fa.fa-twitter
    .pure-u-1-2.pure-u-md-1-6
      %a{:href => "skype:raviolicode?call"}
        %i.fa.fa-skype
    .pure-u-1-2.pure-u-md-1-6
      %a{:href => "mailto:raviolicode@gmail.com?subject=Hi!"}
        %i.fa.fa-envelope
